__pycache__
.DS_Store
.vscode
.textbook
*.egg-info
*.ipynb_checkpoints
playground.ipynb
playground_old.ipynb
cache
.cache
config
.venv
test.py
textbook/
.env
.claude/
tokenizers/
runs/
weights/
*.log
.experiments/
